window{
    background-color: burlywood;
}
box{
}
button{
    margin: 10px;
    color: black;
    background-color: green;
    transition-duration: 1s;
}
button:hover{
    transition-duration: 1s;
    color: green;
}
.avatar{
    border-width: 10px;
    border-color: yellow;
}
cellview{
    color: green;
    background-color: yellow;
}