window {
}

box {
}

frame {
}

button {
}

button:hover {

}
titlebar{
    background-color: yellow;
}


treeview.view:hover{
    /*background-color: blue;*/
}
treeview.view:selected{
    /*background-color: yellow;*/
}
.LogIn {
    background-image: url("/home/ervinxie/Desktop/courier-client/UI-part/View/res/welcome.gif");
}

.avatar {

}
