window {
}

box {
}

frame {
}

button {
}

button:hover {

}
titlebar{
    background-color: yellow;
}


treeview.view:hover{
    /*background-color: blue;*/
}
treeview.view:selected{
    /*background-color: yellow;*/
}
.LogIn {
    background-image: url("/home/ervinxie/Desktop/courier-client/UI-part/View/res/welcome.gif");
}
label{
    background-color: red;
    color: yellow;
}

.avatar {


}
.myChatMessage{
    color: black;
    background-color: lightgray;
}
.otherChatMessage{
    color: white;
    background-color: darkslategray;
}
.mainWindowAvatarButtonBox{
    background-color: azure;
}
