
dialog{
    background-image: url("/home/ervinxie/Desktop/courier-client/UI-part/View/res/bg-forest.jpeg");
    background-size: cover;
}
window{
    background-image: url("/home/ervinxie/Desktop/courier-client/UI-part/View/res/bg-forest.jpeg");
    background-size: cover;
}


.mainWindowAvatarButtonBox {
    padding: 10px;
}

button{
    box-shadow: none;
    background-color: transparent;
    transition-duration: 500ms;
}
button label{
    color: white;
}
button:hover{
    transition-duration: 500ms;
    background-color: #ffffff;
}

.avatar{
    box-shadow: 0px 0px 2px ;
}



treeview {
    background-color: transparent;
}

treeview.view {
    color: white;
}

treeview.view:hover {
    color: white;
}

treeview.view:selected {
    transition-duration: 500ms;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.tools {

}
.msgEditFrame{
    background-color: rgba(0,0,0,0.2);
}
.msgEdit{
    font-size: 20px;
}
textview.text{
    background: transparent;
}

.LogIn {

}

label {
    transition: color;
    transition-duration: 500ms;
    color: white;
}



.myChatMessage {
    color: white;
    background-color: rgba(1,1,1,0.4);
    padding: 5px;
}

.otherChatMessage {
    color: white;
    background-color: rgba(1,1,1,0.8);
    padding: 5px;
}

.messageNickName{
    font-size: 13px;
}


